<style>
  input.display-4 {
    padding:1em;
    display: block;
    margin: 0em auto;
    width:90%;
  }
  div.jumbotron {
    width: 90%;
    margin: 5em auto 1em;
  }
  table.jumbotron {
   
    margin: 1em auto;

  }
  div.jumbotron .submit {
    display: block;
    margin: 1em auto;
    width:90%;
  }
 div.answer{
  width:90%;
  margin: 0 auto;
 }
 div.button-row {
  text-align:center;
  margin-top:1em;
 }
 div.button-row .btn {
  font-weight: bold;
  font-size:large;
  text-transform: lowercase;
 }
 div.audio-icon {
  color: #1b85e5;
  display:inline;
 }
 div#add-verb-card {
  width: 40%; 
  margin: 0 5%;
  float:left;
 }
 div#add-verb-card input {
  color:black;
 }
 div#add-verb-card input.submit {
  background-color:white;
  margin: 1em 5%;
 }
 button.perfect {
  background-color: mediumpurple;
  border-color: mediumpurple;
 }
</style>
<script>
  $(function() {
    $("#accent-buttons button").click(function(){
      var input = $("#spanishInput");

      input.val( input.val() + $(this).text() );
      input.focus();
      
    });

    var audioSection = $('section#song');  
    $('a#play_song').click(function() {  
       var audio = $('<audio>', {  
           controls : 'controls'  
       });  
       var url = $(this).attr('href');  
       $('<source>').attr('src', url).appendTo(audio);  
       audioSection.html(audio);  
       return false;       
    });  

    $("tr.skip_previous").prev().remove();
  });
</script>
<div class="jumbotron">
  <%=form_tag "/"%>
    <input class="display-4" type="text" id="spanishInput" name="text" placeholder="Enter Spanish Text..." >
    <div id="accent-buttons" class="button-row">
      <% %w( ¿ ¡ á é í ó ú ü ñ).each do |char|%>
        <button type="button" class="btn btn-info"><%=char%></button>
      <%end%>
    </div>
    <input type="submit" name="commit" value="Submit" class="submit">
  </form>
</div>
<%if @original%>
  <div class="answer">
    <h3 class="display-4">
      <%=link_to say_path(:text=>@original), {:id=>"play_song"} do%>
        <div class="audio-icon"><svg width="20" height="20" viewBox="0 0 16 16"><g fill="none" fill-rule="evenodd"><path fill="#1B85E5" d="M13.5 2.2a8 8 0 0 1-.1 11.7l-.7-.7a7 7 0 0 0 0-10.3l.8-.7zM12 3.6a6 6 0 0 1-.2 9l-.7-.8a5 5 0 0 0 .2-7.5l.7-.7zm-9 7.9H.7c-.4 0-.8-.4-.8-.9V5.4c0-.5.4-.9.8-.9H3l4.7-3.4C8.3.8 9 1.1 9 2V14c0 .7-.7 1.1-1.3.8L3 11.5zM1.4 5.9v4.2h2.2L7.5 13V3L3.7 6H1.5z"></path></g></svg></div>
      <%end%>
      <%=@original%></h3> 
    <section id="song"></section>
    <%if @translation%>
      <h4 class=""><%=@translation.html_safe%></h4>
    <%end%>
  </div>
  <table class="jumbotron">
    <%previous_word = ""%>
    <%@original.split(" ").each do |word|
       word = word.downcase
       ["!","?","¿","¡",",","'",'"',".",":"].each do |char|
         word.gsub!(char, "")
       end
       row_class = ""
       perfect = nil
       matches = Verb.matches_for(word)
       if matches.any?
          matches.pluck(:infinitive_id).uniq.each do |inf_id| #e.g. create a double-row for 'fuera' 
            matches2 = matches.where(:infinitive_id=>inf_id) #e.g. separate both meanings of 'sé'
            verb = matches2.first
            inf = Infinitive.find(inf_id)
            pronouns = matches.pluck(:pronoun).uniq.compact
            if verb.is_participle? && aux = Verb.matches_for(previous_word).auxable.first
              if perfect = aux.make_perfect(verb)
                verb = perfect
                row_class = "skip_previous"
                pronouns = [Verb.pronouns[perfect.pronoun]]
              end
            end
            %>
          <tr class="<%=row_class%>">
            <td> 
              <%if !verb.is_infinitive && !verb.is_participle%>
              <div class="btn-group-vertical">
                <button type="button" class="btn <%=fill_class(pronouns, 1)%>">yo</button>
                <button type="button" class="btn <%=fill_class(pronouns, 2)%>">tú</button>
                <button type="button" class="btn <%=fill_class(pronouns, 3)%>">él/ella/Ud.</button>
              </div>
              <div class="btn-group-vertical">
                <button type="button" class="btn <%=fill_class(pronouns, 4)%>">nosotros</button>
                <button type="button" class="btn <%=fill_class(pronouns, 5)%>">vosotros</button>
                <button type="button" class="btn <%=fill_class(pronouns, 6)%>">ellos/ellas/Uds.</button>
              </div>
            </td>
            <%end%>
            <td>
              <%previous_v = nil%>
              <%matches2.each do |v|%>
                <%v = perfect if perfect%>
                <div>
                  <%next if v.previous_word_is && previous_word != v.previous_word_is%>
                  <%next if v.previous_word_is_not && previous_word == v.previous_word_is_not%>
                  <%next if previous_v && v.same_as?(previous_v)%>

                  
                  <!-- mood -->
                  <%if v.subjunctive?%>
                    <button type="button" class="btn btn-danger disabled"><%=Rails.env.development? ? "Imaginary" : "Subjunctive"%></button><!-- i.e. light orange -->
                  <%end%><%if v.imperative?%>
                    <button type="button" class="btn btn-danger">Imperative</button><!-- i.e. dark orange -->
                  <%end%><%if v.indicative?%>
                    <button type="button" class="btn btn-outline-primary">Indicative</button><!-- i.e. green-->
                  <%end%><%if v.continuous?%>
                    <button type="button" class="btn btn-outline-secondary disabled">Continuous</button><!-- i.e. light pink-->
                  <%end%>

                  <!-- tense -->
                  <%if v.imperfect? || v.preterite? || v.anterior?%>
                    <!-- Note: this past button is just for clarity-->
                    <button type="button" class="btn btn-outline-info">Past</button>
                  <%end%>
                  <%if v.tense%>
                    <button type="button" class="btn btn-info <%=v.tense%>"><%=v.tense%></button>
                  <%end%>
                  <!-- Perfect block -->
                  <%if v.perfect%>
                    <%if !v.pluperfect? && !v.anterior?%>
                      <button type="button" class="btn btn-info perfect">Perfect</button>
                    <%end%>
                  <%end%>

                  <!-- non personal form -->
                  <%if v.is_infinitive?%>
                    <button type="button" class="btn btn-warning">Infinitive</button><!-- i.e. yellow -->
                  <%elsif v.is_participle?%>
                    <button type="button" class="btn btn-primary">Participle</button><!-- i.e. green -->
                  <%end%>
                </div>
                
                <%previous_v = v%>
              <%end%>
            </td>
            <td><h3 class="display-4"><%=verb.previous_word_is unless verb.perfect%> <%=verb.word%></h3></td>
            <td>
              <h4><%=link_to inf.name, "https://www.spanishdict.com/conjugate/#{inf.name}"%> (<%=inf.meaning%>)</h4>
            </td>
          </tr>
        <%end%>
      <%else%>
        <!-- i.e. not a verb word -->
      <%end%>
      <% previous_word = word %>
    <%end%>
  </table>
<%end%>

<hr class="my-4">
<div id="add-verb-card" class="card text-white bg-primary mb-3">
  <div class="card-header">Add another verb</div>
  <div class="card-body">
    <h4 class="card-title">Enter a verb to add it to the dictionary</h4>
    <p class="card-text">
      <%=form_for Verb.new do |f|%>
        <%if @original%>
          <input type="hidden" name="text" value="<%=@original%>">
        <%end%>
        <input class="display-4" type="text" name="word" placeholder="hablar" >
        <input type="submit" name="commit" value="Submit" class="submit">
      <%end%>
    </p>
  </div>
</div>
<div class="card border-primary mb-3" style="max-width: 40%;">
  <div class="card-header">Links</div>
  <div class="card-body">
    <h4 class="card-title"><%=link_to "English to Spanish...","https://www.google.com/search?q=english+to+spanish"%></h4>
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  </div>
</div>
