<!DOCTYPE html>
<html>
<head>
  <title>Spanish Deconjugator! <%=@original if @original%></title>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"%>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

  <!-- Optional theme: https://bootswatch.com/minty/ -->
  <%= stylesheet_link_tag    'bootstrap.min' %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'skeleton' %>
</head>
<body>
  <% flash.each do |key, value| %>
    <div class="alert-dismissable <%= flash_class(key) %>">
          <%= value %>
    </div>
  <% end %>
  <%= yield %>

</body>
</html>
